.modalBackground{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 100vh;

}
.overflow-hidden{
  overflow: hidden;
}
.modalBox{
  background-color: rgb(52, 59, 163);
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  text-align: center;

  width: 30%;
  height: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.languagesToSelect{
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 1.1rem;
  padding-top: 20px;
}
.selectUS, .selectBR {
  border: 2px solid transparent;
  line-height: 1;
}
.selectUS:hover{
  cursor: pointer;
  scale: 1.5;
  color: rgb(151, 151, 151);
  transition: 400ms;
}
.selectBR:hover{
  cursor: pointer;
  scale: 1.5;
  color: rgb(151, 151, 151);
  transition: 400ms;
}


/*=============== MEDIA QUERIES FOR TABLETS ============== */
@media screen and (max-width: 1024px){
  .modalBox{ 
    width: 40%;
    height: 30%;
  }
}

/*=============== MEDIA QUERIES FOR SMARTPHONES ============== */
@media screen and (max-width: 600px){
  .modalBox{ 
    width: 70%;
    height: 40%;
  }
}
