.codeBackground{
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 63);
}
.codeBackground2{
  background-image:linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../../img/code-h.png);
  background-attachment: fixed;
  height: 250px;
  margin-top: 20px;
  animation: flicker 2s ease-in-out infinite;
}