header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
h1{
    color: var(--color-primary);
}
.header__container{
    text-align: center;
    height: 100%;
}
#changeBtn{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
#changeBtn:hover{
    cursor: pointer;
}

/*=============== CTA ============== */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=============== HEADER SOCIALS ============== */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 3rem;
    font-size: 1.8rem;
    left: 2rem;
}


/*=============== ME ============== */
.me{
    background-image:linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../../img/code1.png);
    background-attachment: fixed;
    animation: flicker 3s ease-in-out infinite;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 18rem 9rem 6rem 16rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
@keyframes flicker {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    35% {
      opacity: 1;
    }
    45% {
      opacity: 0.8;
    }
    65% {
      opacity: 9;
    }
    75% {
      opacity: 1;
    }
    90% {
      opacity: 0.7;
    }
    100% {
      opacity: 9;
    }
  }


/*=============== MEDIA QUERIES FOR TABLETS ============== */
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
    .header__socials{

        display: none;
    }
}

/*=============== MEDIA QUERIES FOR SMARTPHONES ============== */
@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .scroll__down{
        display: none;
    }
    .header__socials{
        display: none;
    }
    .me{
        width: 18rem;
        height: 24rem;
        position: absolute;
        left: calc(50% - 9rem);
        margin-top: 4rem;
        border-radius: 18rem 9rem 6rem 16rem;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }
}
