.hover3 {
  --c: no-repeat linear-gradient(#bee3f8 0 0);
  background: 
    var(--c)  calc(-101% + var(--p,0%)) 100%,
    var(--c)  calc( 201% - var(--p,0%)) 0;
  background-size: 50.1% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
  color: black;
  border-radius: 10px;
}
.hover3:hover {
  --p: 101%;
  --t: 0.3s;
  color: #fff;
}

